* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

section {
  color: #8d8d8d;
}

ul {
  list-style: none;
}

.heading {
  color: #434445;
}

header {
  width: 100%;
  color: #fff;
}

header h2 {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

header a {
  color: #fff;
}

header p {
  margin: 0;
}

.phone-link {
  color: #434445;
}

.phone-link:hover {
  color: #f57e57;
}

#carousel-img-wrapper {
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 85vh;
}

#home {
  position: relative;
  width: 100%;
  background: url("./../img/background-01-1920x900.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 119, 183, 0.5);
}

.navigation {
  width: 100%;
  padding-top: 30px;
}

#header .logo {
  width: 250px;
  height: fit-content;
}

#hero {
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-bg {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 30px;
  width: 350px;
  margin: 0 auto;
}

#hero .form-bg {
  float: right;
}

.form-bg h4 {
  color: #fff;
}

.btn-custom {
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  background-color: #f57e57;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.05s ease;
}

.btn-custom:focus {
  outline: none;
}

.btn-custom:hover {
  background-color: #18afd3;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.contact {
  margin-top: 10px;
}

.contact .form-group {
  padding-bottom: 15px;
}

.contact label {
  color: #aaa;
}

.indicators-round li {
  border-radius: 100%;
  background-color: #aaa;
  width: 12px;
  height: 12px;
  margin: 0 15px;
}

.indicators-round li.active {
  background-color: #f57e57;
}

.divider {
  background-color: #f57e57;
  fill: #f57e57;
  width: 80px;
  height: 3px;
  text-align: left;
}

.heading h2 {
  font-size: 3rem;
}

#services .btn-link {
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  background-color: #18afd3;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  position: absolute;
  font-family: "Oswald", sans-serif;
  bottom: 20px;
  right: -40px;
  width: 250px;
}

#services .btn-link:hover {
  background-color: #f57e57;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

#services a i {
  font-size: 0;
  margin-right: 5px;
}

#testimonials .heading .special {
  font-size: 3.75rem;
}

#testimonials .copy {
  max-width: 485px;
}

#testimonials .indicators-round li.active {
  background-color: #18afd3;
}

#testimonials #indicators {
  top: 115%;
}

#team .img-wrapper {
  height: 334px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.info-wrapper {
  width: 100%;
}

#team .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #18afd3;
  color: #fff;
}

#team .link-box {
  padding: 0;
  height: 0;
  width: 100%;
  background-color: #f57e57;
  transition: all 0.3s ease;
}

#team .link-box:hover {
  background-color: #c96646;
}

#team .btn-link {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 70px;
  width: 100%;
  margin: auto;
  font-family: "Oswald", sans-serif;
  display: none;
}

#team .btn-link:hover {
  background-color: #c96646;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.col-cover {
  height: 450px;
}

.team-image {
  width: 100%;
}

#help {
  width: 100%;
  height: 350px;
  background: url("../img/pexels-photo-305568.jpeg") no-repeat fixed center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#help .container {
  position: relative;
  color: #fff;
}

#help .heading .special {
  font-size: 3.75rem;
}

#schedule {
  margin: 50px 0;
}

#schedule .heading {
  background-color: #1a8fd3;
  height: 50px;
  text-align: center;
}

#schedule .schedule-info {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #333;
}

#schedule p {
  font-size: 0.9rem;
}

.scrollTop-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 50px;
  z-index: 1000;
  text-decoration: none;
  background-color: #f57e57;
  color: #fff;
  box-shadow: 1px 3px 7px #333;
}

.scrollTop-btn:hover {
  text-decoration: none;
  background-color: #1a8fd3;
}

footer {
  background-color: #1a8fd3;
  min-height: 150px;
  width: 100%;
}

.my-container {
  width: 90%;
  margin: auto;
}

footer ul,
footer p {
  padding: 0;
  margin: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}

footer a {
  color: #777;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:hover {
  color: #fff;
}

footer .fa-stack-2x {
  color: #fff;
  transition: all 0.3s ease;
}

footer a:hover .fa-stack-2x {
  color: #f57e57;
}

@media only screen and(max-width: 1200px) {
  .show-on-sm {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .logo {
    margin-bottom: 15px;
  }

  header h2 {
    font-size: 2rem;
    text-align: center;
  }

  header a.btn-custom {
    text-align: center;
  }

  .carousel-inner .carousel-item {
    height: 85vh;
  }

  .hide-on-sm {
    display: none;
  }

  .show-on-sm {
    display: initial;
  }

  #side {
    margin-bottom: 50px;
  }

  #side h5 {
    margin-top: 20px;
  }

  #testimonials #indicators {
    top: 75%;
  }

  #team .btn-link {
    display: initial;
  }

  #schedule .schedule-info {
    width: 80%;
  }

  footer .fill-div {
    height: 400px;
  }

  footer .fill-div .col-sm-12 {
    margin: 20px 0;
  }
}
